/*Certificate Details Page Style*/
/*证书详情页面样式*/
div#wn-sponsor-overlay {
  position: relative !important;
  display: inline-block;
}
div#wn-sponsor-certificate {
  height: 100%;
  width: 100%;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}
div#wn-sponsor-qrcode {
  position: absolute;
}
#wn-sponsor-qrcode .wn-sponsor-qrcode-label {
  display: block;
  width: auto;
}
#wn-sponsor-qrcode img {
  margin: 0 auto;
}
div#wn-sponsor-scale {
  width: fit-content;
}