/*Sponsorship Form Page, Amount Option Field Style*/
/*赞助表单页面，金额选项字段样式*/
#sponsor-amount-items > h3 {
  margin-bottom: 0;
}
#sponsor-amount-items .item {
  width: 24%;
  display: inline-block;
}
#sponsor-amount-items .card {
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  padding: 2.25rem 0;
  position: relative;
  will-change: transform;
}
#sponsor-amount-items .card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #57e2b2;
  transition: 0.5s;
}
#sponsor-amount-items .card:hover {
  transform: scale(1.05);
  -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
#sponsor-amount-items .card:hover:after {
  width: 100%;
}
#sponsor-amount-items .card .card-header {
  background-color: white;
  border-bottom: 0;
}
#sponsor-amount-items .card .card-title {
  margin-bottom: 1rem;
}
#sponsor-amount-items .card .card-block {
  padding-top: 0;
}
#sponsor-amount-items .card .list-group-item {
  border: 0;
  padding: 0.25rem;
  color: #808080;
  font-weight: 300;
}
#sponsor-amount-items .display-2 {
  font-size: 2.3rem;
  letter-spacing: -0.2rem;
}
#sponsor-amount-items .display-2 .currency {
  font-size: 1.5rem;
  position: relative;
  font-weight: 400;
  top: -15px;
  letter-spacing: 0;
}
#sponsor-amount-items .display-2 .period {
  font-size: 1rem;
  color: #b3b3b3;
  letter-spacing: 0;
}
#sponsor-amount-items .btn {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  color: #a6a6a6;
  border-radius: 0;
  padding: 0.75rem 1.25rem;
  letter-spacing: 1px;
}
#sponsor-amount-items .btn-gradient {
  background-color: #f2f2f2;
  transition: background 0.3s ease-in-out;
}
#sponsor-amount-items .btn-gradient:hover {
  color: white;
  background-color: #57e2b2;
}