/*Sponsorship list page, header section statistics area style*/
/*赞助列表页面，header部分的统计区域样式*/
div#wn-sponsor-statistics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
div#wn-sponsor-statistics > span {
  flex: 1;
  margin: 3px;
  border: 1.5px solid #eee;
  -webkit-border-radius: 19px;
  -ms-border-radius: 19px;
  -o-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  min-height: 65px;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /*width: 30%;*/
  /*min-width: 30%;*/
  /*max-width: 30%;*/
}
div#wn-sponsor-statistics span .number {
  font-size: 2rem;
}
