{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 *
 * @see template_preprocess_field()
 */
#}
{{ attach_library('wn_sponsor/wn_sponsor_progress') }}
{%
  set classes = [
  'field',
  'field--name-' ~ field_name|clean_class,
  'field--type-' ~ field_type|clean_class,
  'field--label-' ~ label_display,
  label_display == 'inline' ? 'clearfix',
]
%}
<style>
  @-webkit-keyframes progress-bar {
    from { width: 0%; }
    to { width: {{ wn_sponsor_percentage }}%; }
  }
  @-moz-keyframes progress-bar {
    from { width: 0%; }
    to { width: {{ wn_sponsor_percentage }}%; }
  }
  @-o-keyframes progress-bar {
    from { width: 0%; }
    to { width: {{ wn_sponsor_percentage }}%; }
  }
  @keyframes progress-bar {
    from { width: 0%; }
    to { width: {{ wn_sponsor_percentage }}%; }
  }
</style>

<div{{ attributes.addClass(classes) }}>
  <div{{ title_attributes.addClass(title_classes) }}>{{ "Fundraising goals"|t }}</div>
  <div class="progress-bg">
    <div class="progress-bar" style="width:{{ wn_sponsor_percentage }}%;">
      <h3 class="raised">
        {{ "Raised"|t }}&nbsp;¥{{ wn_sponsor_total }}

        {% set wn_sponsor_percentage_num = wn_sponsor_percentage|number_format %}
        {% if wn_sponsor_percentage_num > 10 and wn_sponsor_percentage_num <=40 %}
          <img class="hot-fire hot-fire-1" src="/modules/custom/wn_sponsor/images/icons-fire.gif">
        {% elseif wn_sponsor_percentage_num > 40 and wn_sponsor_percentage_num <=80 %}
          <img class="hot-fire hot-fire-2" src="/modules/custom/wn_sponsor/images/icons-fire.gif">
        {% elseif wn_sponsor_percentage_num > 80 %}
          <img class="hot-fire hot-fire-3" src="/modules/custom/wn_sponsor/images/icons-fire.gif">
        {% endif %}
      </h3>
    </div>
    <h3 class="goal">{{ "Goal:"|t }} ¥{{ wn_goal_amount }}</h3>
  </div>
</div>
