{% if items is not empty %}
  <div id="sponsor-amount-items">
    <h3>{{ 'Quickly select amount or customize input'|t }}</h3>
    <div class="row flex-items-xs-middle flex-items-xs-center">
      {% for item in items %}
        <div class="item col-xs-12 col-lg-4">
          <div class="card text-xs-center">
            <div class="card-header">
              <h3 class="display-2">
                <span class="currency">￥</span>
                <span class="number-of-money">{{ item }}</span>
              </h3>
            </div>
            <div class="card-block">
              <a class="btn btn-gradient mt-2">{{ 'Choose'|t }}</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}