{{ attach_library('wn_sponsor/screen_shot') }}
{% set wn_sponsor_overlay_style = '' %}
{% if certificate_background_img is empty %}
  {% set wn_sponsor_overlay_style = 'display:block !important;' %}
{% endif %}
{% if certificate_status == '0' or certificate_status == '1' %}
  <div id="wn-sponsor-cert-container">
    <div id="wn-sponsor-scale">
      <div id="wn-sponsor-overlay" style="{{ wn_sponsor_overlay_style }}">
        {% if certificate_background_img is not empty %}
          <img id="certificate-background"
               src="{{ certificate_background_img }}"
               style="max-width: fit-content;">
          <div id="wn-sponsor-certificate"
               style="padding-block: {{ certificate_padding_block }}px;padding-inline: {{ certificate_padding_inline }}px;">
            {{ content|raw }}
          </div>
        {% else %}
          <div id="wn-sponsor-certificate"
               style="position:relative !important;">
            {{ content|raw }}
          </div>
        {% endif %}
        {% if wn_qrcode_display == '1' %}
          {% set display = "display:block;" %}
          {% set wn_qrcode_space = 0 %}
        {% else %}
          {% set display = "display:inline-flex;" %}
        {% endif %}
        <div id="wn-sponsor-qrcode"
             style="left: {{ wn_qrcode_left }}px;bottom: {{ wn_qrcode_bottom }}px;{{ display }}">
          {% if wn_qrcode_query_image is not empty %}
            <div
              style="margin-right: {{ wn_qrcode_space }}px;text-align:center;">
              <label
                class="wn-sponsor-qrcode-label">{{ "Authenticity Query"|t }}</label>
              <img src="{{ wn_qrcode_query_image }}" width="{{ wn_qrcode_wh }}"
                   height="{{ wn_qrcode_wh }}">
            </div>
          {% endif %}
          {% if wn_qrcode_sponsor_image is not empty %}
            <div style="text-align:center;">
              <label
                class="wn-sponsor-qrcode-label">{{ "Donation Page"|t }}</label>
              <img src="{{ wn_qrcode_sponsor_image }}"
                   width="{{ wn_qrcode_wh }}"
                   height="{{ wn_qrcode_wh }}">
            </div>
          {% endif %}
        </div>
        {% if certificate_seal is not empty %}
          <img id="certificate-seal" src="{{ certificate_seal }}"
               style="position: absolute;bottom: {{ certificate_seal_bottom }}px;right: {{ certificate_seal_right }}px;">
        {% endif %}
      </div>
      {% if destination is not empty %}
        <a class="button" href="{{ destination }}">{{ 'Re edit'|t }}</a>
      {% endif %}
      <button id="download-certificate"
              class="button">{{ 'Download'|t }}</button>
      <a class="button" href="{{ wn_sponsor_content_url }}">{{ 'Go to sponsor content'|t }}</a>
    </div>
  </div>
{% else %}
  <div id="invalid-cert">
    {{ 'The certificate has been invalidated.'|t }}
  </div>
{% endif %}