{{ attach_library('wn_sponsor/wn_statistics') }}
<div id="wn-sponsor-statistics">
  <span>
    <div class="number integer">{{ data.total[0]['field_wn_order_number_count'] }}</div>
    <div class="label">{{ "Person-time Sum"|t }}</div>
  </span>
  <span>
    <div><span>¥ </span><span class="number float">{{ data.total[0]['field_wn_sponsorship_money_sum'] }}</span></div>
    <div class="label">{{ "Sponsor Sum"|t }}</div>
  </span>
  <span>
    <div><span>¥ </span><span class="number float">{{ data.total[0]['field_wn_sponsorship_money_avg'] }}</span></div>
    <div class="label">{{ "Sponsor Avg"|t }}</div>
  </span>
  <span>
    <div><span>¥ </span><span class="number float">{{ data.total[0]['field_wn_sponsorship_money_max'] }}</span></div>
    <div class="label">{{ "Sponsor Max"|t }}</div>
  </span>
  <span>
    <div><span>¥ </span><span class="number float">{{ data.total[0]['field_wn_sponsorship_money_min'] }}</span></div>
    <div class="label">{{ "Sponsor Min"|t }}</div>
  </span>
</div>